<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="Titalyver.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        <section name="TTLyricsViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v2.0.50727"/></startup>
    <userSettings>
        <Titalyver.Properties.Settings>
            <setting name="WindowSize" serializeAs="String">
                <value>400, 600</value>
            </setting>
            <setting name="WindowPosition" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ShowInTaskbar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TaskTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TimerInterval" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="LyricsFont" serializeAs="String">
                <value>ＭＳ ゴシック, 20.25pt</value>
            </setting>
            <setting name="CurrentColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="OtherColor" serializeAs="String">
                <value>Silver</value>
            </setting>
            <setting name="BGColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="CurrentOutlineColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="OtherOutlineColor" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="CurrentBackAlpha" serializeAs="String">
                <value>64</value>
            </setting>
            <setting name="CurrentBackColor" serializeAs="String">
                <value>DarkGreen</value>
            </setting>
            <setting name="AntiAlias" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FontOutline" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FontOutlineSlip" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ContinuousScroll" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScrollTime" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="FadeTime" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="HAlignment" serializeAs="String">
                <value>Center</value>
            </setting>
            <setting name="VAlignment" serializeAs="String">
                <value>Center</value>
            </setting>
            <setting name="YOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LineSpace" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CharSpace" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NoRubyPlusSpace" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RubyBottomSpace" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TopMargin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LeftMargin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RightMargin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BottomMargin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EditorPath" serializeAs="String">
                <value>notepad.exe</value>
            </setting>
            <setting name="EditorParam" serializeAs="String">
                <value>"%1"</value>
            </setting>
            <setting name="NoLyricsFormat" serializeAs="String">
                <value>[00:00.00]%Artist%
[00:00.00]%Title%
[99:59.99]%Album%
[99:59.99]%Date%
[99:59.99]%Comment%
</value>
            </setting>
            <setting name="LyricsSearchPath" serializeAs="String">
                <value>%FileFolder%%FileName%.kra
%FileFolder%%FileName%.lrc
%FileFolder%%FileName%.txt
</value>
            </setting>
            <setting name="BGImageSearchPath" serializeAs="String">
                <value>%FileFolder%*.png
%FileFolder%*.jpg
%ExeFolder%NoImage.png
</value>
            </setting>
            <setting name="BGILimitSize" serializeAs="String">
                <value>300, 300</value>
            </setting>
            <setting name="CurrentBackPlusUp" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CurrentBackPlusDown" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BGIFilterAlpha" serializeAs="String">
                <value>128</value>
            </setting>
            <setting name="BGIFilterColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="LyricsLayoutPosition" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="LyricsLayoutLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LyricsLayoutTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LyricsLayoutRight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LyricsLayoutBottom" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BGILayoutPosition" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="BGILayoutLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BGILayoutTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BGILayoutRight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BGILayoutBottom" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BGIPosition" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="BGILimitDisplayX" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BGILimitDisplayY" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BGILimitSourceX" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BGILimitSourceY" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BGILimitMaxSizeX" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BGILimitMaxSizeY" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="InfoText" serializeAs="String">
                <value />
            </setting>
            <setting name="InfoTextColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="InfoTextOutline" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InfoTextOutlineColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="InfoTextHAlignment" serializeAs="String">
                <value>Center</value>
            </setting>
            <setting name="InfoTextVAlignment" serializeAs="String">
                <value>Near</value>
            </setting>
            <setting name="InfoTextLayoutPosition" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="InfoTextLayoutLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="InfoTextLayoutTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="InfoTextLayoutRight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="InfoTextLayoutBottom" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="InfoTextFont" serializeAs="String">
                <value>ＭＳ ゴシック, 15.75pt</value>
            </setting>
            <setting name="InfoTextOutlineSlip" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="InfoTextAntiAlias" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StandbyColor" serializeAs="String">
                <value>255, 128, 128</value>
            </setting>
            <setting name="StandbyOutlineColor" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="KaraokeMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NTTTColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="NTTTOutlineColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="KaraokeDisplay" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KaraokeDisplayBottomMargin" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="KaraokeLastNext" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BGColorAlpha" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="LayeredWindowAlpha" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="BGImageAlpha" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="FrameImagePath" serializeAs="String">
                <value />
            </setting>
            <setting name="NTTTVAlignment" serializeAs="String">
                <value>Near</value>
            </setting>
            <setting name="NTTTYOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RubyAlignment" serializeAs="String">
                <value>0</value>
            </setting>
        </Titalyver.Properties.Settings>
        <TTLyricsViewer.Properties.Settings>
            <setting name="WindowSize" serializeAs="String">
                <value>400, 600</value>
            </setting>
            <setting name="WindowPosition" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ShowInTaskbar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TaskTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TimerInterval" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="LyricsFont" serializeAs="String">
                <value>ＭＳ ゴシック, 20.25pt</value>
            </setting>
            <setting name="CurrentColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="OtherColor" serializeAs="String">
                <value>Silver</value>
            </setting>
            <setting name="BGColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="CurrentOutlineColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="OtherOutlineColor" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="CurrentBackAlpha" serializeAs="String">
                <value>64</value>
            </setting>
            <setting name="CurrentBackColor" serializeAs="String">
                <value>DarkGreen</value>
            </setting>
            <setting name="AntiAlias" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FontOutline" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FontOutlineSlip" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ContinuousScroll" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScrollTime" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="FadeTime" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="HAlignment" serializeAs="String">
                <value>Center</value>
            </setting>
            <setting name="VAlignment" serializeAs="String">
                <value>Center</value>
            </setting>
            <setting name="YOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LineSpace" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CharSpace" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NoRubyPlusSpace" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RubyBottomSpace" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TopMargin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LeftMargin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RightMargin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BottomMargin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EditorPath" serializeAs="String">
                <value>notepad.exe</value>
            </setting>
            <setting name="EditorParam" serializeAs="String">
                <value>"%1"</value>
            </setting>
            <setting name="NoLyricsFormat" serializeAs="String">
                <value>[00:00.00]%Artist%
[00:00.00]%Title%
[99:59.99]%Album%
[99:59.99]%Date%
[99:59.99]%Comment%
</value>
            </setting>
            <setting name="LyricsSearchPath" serializeAs="String">
                <value>%FileFolder%%FileName%.lrc
%FileFolder%%FileName%.kra
%FileFolder%%FileName%.txt
</value>
            </setting>
            <setting name="BGImageSearchPath" serializeAs="String">
                <value>%FileFolder%*.png
%FileFolder%*.jpg
%ExeFolder%NoImage.png
</value>
            </setting>
            <setting name="BGILimitSize" serializeAs="String">
                <value>300, 300</value>
            </setting>
            <setting name="CurrentBackPlusUp" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CurrentBackPlusDown" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BGIFilterAlpha" serializeAs="String">
                <value>128</value>
            </setting>
            <setting name="BGIFilterColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="LyricsLayoutPosition" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="LyricsLayoutLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LyricsLayoutTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LyricsLayoutRight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LyricsLayoutBottom" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BGILayoutPosition" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="BGILayoutLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BGILayoutTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BGILayoutRight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BGILayoutBottom" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BGIPosition" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="BGILimitDisplayX" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BGILimitDisplayY" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BGILimitSourceX" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BGILimitSourceY" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BGILimitMaxSizeX" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BGILimitMaxSizeY" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="InfoText" serializeAs="String">
                <value />
            </setting>
            <setting name="InfoTextColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="InfoTextOutline" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InfoTextOutlineColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="InfoTextHAlignment" serializeAs="String">
                <value>Center</value>
            </setting>
            <setting name="InfoTextVAlignment" serializeAs="String">
                <value>Near</value>
            </setting>
            <setting name="InfoTextLayoutPosition" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="InfoTextLayoutLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="InfoTextLayoutTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="InfoTextLayoutRight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="InfoTextLayoutBottom" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="InfoTextFont" serializeAs="String">
                <value>ＭＳ ゴシック, 15.75pt</value>
            </setting>
            <setting name="InfoTextOutlineSlip" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="InfoTextAntiAlias" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StandbyColor" serializeAs="String">
                <value>255, 128, 128</value>
            </setting>
            <setting name="StandbyOutlineColor" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="KaraokeMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NTTTColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="NTTTOutlineColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="KaraokeDisplay" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KaraokeDisplayBottomMargin" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="KaraokeLastNext" serializeAs="String">
                <value>True</value>
            </setting>
        </TTLyricsViewer.Properties.Settings>
    </userSettings>
</configuration>
